input[type='number']::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track{
    background:#ffffff;
    height:0.2rem;
    border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    margin-top:-6px;
}